html, body {
  color: black;
  font: small "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
  font-size: 88%;
  margin: 5px;
  padding: 0;  
  height: 100%;
}

img { 
  -ms-interpolation-mode:bicubic; 
}

form {
  border: 0;
  padding: 0;
}

input,button {
  display: inline;
}

textarea {
  display: inline;
  width: 100%;
  overflow: auto;
}

/*
td, th {padding:3px;border:none;}
tr th {text-align:left;background-color:#f0f0f0;color:#333;}
tr.odd td {background-color:#edf3fe;}
tr.even td {background-color:#fff;}

a.link, a, a.active {
  color: #369;
}



h1,h2,h3,h4,h5,h6 {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
  font-weight: bold;
}

h1, h2 {
  font-size: 125%;
}

.code {
  font-family: monospace;
}*/

body > div {
  margin-top: 1em;
} 
table {
  width: 60%;
  padding-left: 5px;    
}
td {
  vertical-align: top;
  border: 0;
  padding: 0px 2px;
  white-space: nowrap;
  font-weight: 100;
  margin: 0;
  table-spacing: 1px;
}
.delete a {
  color: #f99;
}
.delete a:hover {
  color: #f00;
}

b {
  font-weight: 800;
}

.action a {
  text-decoration: none;
  color: none;
}

body > div.header {
  float: right;
  
  margin: 0;
  text-align: right;
}
body > div.header input {
  width: 30em;
}

.details input.heading  {
  border: 1px solid #fff;
  font-size: 150%;
  font-weight: 600;
  width: 60%;
}
.details input {
  width: 100%;
  border: 1px solid #fff;
  border-bottom: 1px dashed #888;        
}
.details textarea {
  width: 100%;
  border: 1px solid #fff;
  border: 1px dotted #ddd;        
  border-bottom: 1px dashed #888;        
}
.details input:hover,.details textarea:hover {
  border: 1px dotted #888;        
  border-bottom: 1px dashed #000;        
}

div.palette {
  background-color: #bbb;
  height: 1.5em;
}
.palette > div {
  width: 7em;
  display: inline-block;
  border-top: 1px solid #bbb;
  border-right: 1px dashed #ddd;
  text-align: center;
  height: 1.5em;
}
.palette .widget:hover {
  margin: -1px;
  margin-right: 0px;
  border: 1px dotted #888;
}

.palette .widgetPrototype {
  display: none;
}

#comments {
  margin-top: 1em;
}
#comments * {
  margin-top: .2em;
}
#comments .header {
  background-color: #ddd;
  padding-left: 5px;
  height: 1.5em;         
}
.palette .label > span, #comments .header > .label {
  color: #666;
  font-size: 80%;        
}
#comments .header > .detail {
  color: #333;
  display: inline-block;
}
#comments .content {
  margin-left: 1em;
} 
#comments p {
  white-space: pre;
  margin-bottom: .7em;     
}
#comments textarea {
  width: 40em;
  height: 10em;
}


