.cell {
/*  position: inline;*/
  float: left;
  border: 1px solid;
  margin: 0px -1px;
}
.cell.active {
  outline: 3px dotted black;
}

/*    .active {*/
/*	    //outline: 1px solid black;*/
/*    }*/
/*    .moreActive {*/
/*	    outline: 3px dotted black;*/
/*    }*/
.wiab_tool {
  display: none;
  position: relative;
  width: 0px;
  height: 0px;
  left: 300px;
  top: 200px;  
  z-index: 11;    
}

.wiab {
  display: none;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-weight: bold;      
  line-height: 20px;
  color: #000000;
  width: 64px;
  height: 64px;   
}
.wiab_active {
  color: #000055;
}

#wiab_guide_horizontal {
  display: none;
  position: absolute;
  border-top: 1px dotted #000;
  width: 100%;
  height: 0px;
  margin: 0px 0px;
  z-index: 11;    
}
#wiab_guide_vertical {
  display: none;
  position: absolute;
  border-left: 1px dotted #000;
  width: 0px;
  height: 100%;
  margin: 0px 0px;
  z-index: 11;    
}
#wiab_guide_box {
  display: none;
  position: absolute;
  outline: 3px dotted #000;
  background: #48f;
  opacity: 0.2;
  width: 0px;
  height: 0px;
  margin: 0px 0px;
  z-index: 11;    
}

#wiab_selection {
  position: relative;
  display: none;
}

#wiab_selection * {
  position: absolute;
  margin: -16px;
  width: 32px;
  height: 32px;
  z-index: 11;
} 
#wiab_selection .wiab_nw {
  background: url("/static/images/grabbers.png") 0px -96px;
}
#wiab_selection .wiab_ne {
  background: url("/static/images/grabbers.png") 0px -128px;
}
#wiab_selection .wiab_se {
  background: url("/static/images/grabbers.png") 0px -32px;
}
#wiab_selection .wiab_sw {
  background: url("/static/images/grabbers.png") 0px -64px;
}
#wiab_selection .wiab_e {
  background: url("/static/images/grabbers.png") 0px -160px;
}
#wiab_selection .wiab_w {
  background: url("/static/images/grabbers.png") 0px -160px;    
}
#wiab_selection .wiab_n {
  background: url("/static/images/grabbers.png") 0px -192px;
}
#wiab_selection .wiab_s {
  background: url("/static/images/grabbers.png") 0px -192px;
}

#wiab_selection .wiab_nw.wiab_active {
  background: url("/static/images/grabbers.png") 32px -96px;
}
#wiab_selection .wiab_ne.wiab_active {
  background: url("/static/images/grabbers.png") 32px -128px;
}
#wiab_selection .wiab_se.wiab_active {
  background: url("/static/images/grabbers.png") 32px -32px;
}
#wiab_selection .wiab_sw.wiab_active {
  background: url("/static/images/grabbers.png") 32px -64px;
}
#wiab_selection .wiab_e.wiab_active {
  background: url("/static/images/grabbers.png") 32px -160px;
}
#wiab_selection .wiab_w.wiab_active {
  background: url("/static/images/grabbers.png") 32px -160px;    
}
#wiab_selection .wiab_n.wiab_active {
  background: url("/static/images/grabbers.png") 32px -192px;
}
#wiab_selection .wiab_s.wiab_active {
  background: url("/static/images/grabbers.png") 32px -192px;
}

.wiab_active_north {
  border-top: 3px dotted black;  
}
.wiab_active_east {
  border-right: 3px dotted black;  
}
.wiab_active_south {
  border-bottom: 3px dotted black;  
}
.wiab_active_west {
  border-left: 3px dotted black;  
}

.wiab_front {
  z-index: 99 !important;
}

img.wiab  {
  position: absolute; 
  left: -128px;
  top: -128px;
  height: 256px; 
  width: 256px; 
  color: white;
  z-index: 11;
}

.wiab_w {
  left: -128px;
  top: -32px;  
}
.wiab_sw {
  left: -91px;  
  bottom: -80px;
}
.wiab_s {
  left: -32px;
  bottom: -96px;
}
.wiab_se {
  right: -91px;  
  bottom: -80px;
}
.wiab_e {
  right: -128px;  
  top: -32px;
}
.wiab_nw {
  left: -91px;  
  top: -80px;
}
.wiab_n {
  left: -32px;
  top: -96px;
}
.wiab_ne {
  right: -91px;  
  top: -80px;
}

.wiab_button {    
  background: url("/static/images/buttons.png") 0px 0px;
}   
.wiab_arrow.wiab_n {
  background: url("/static/images/buttons.png") 0px -64px;
}
.wiab_arrow.wiab_ne {
  background: url("/static/images/buttons.png") 0px -128px;
}
.wiab_arrow.wiab_e {
  background: url("/static/images/buttons.png") 0px -192px;
}
.wiab_arrow.wiab_se {
  background: url("/static/images/buttons.png") 0px -256px;
}
.wiab_arrow.wiab_s {
  background: url("/static/images/buttons.png") 0px -320px;
}
.wiab_arrow.wiab_sw {
  background: url("/static/images/buttons.png") 0px -384px;
}
.wiab_arrow.wiab_w {
  background: url("/static/images/buttons.png") 0px -448px;    
}
.wiab_arrow.wiab_nw {
  background: url("/static/images/buttons.png") 0px -512px;
}

.wiab_button.wiab_active {
  background: url("/static/images/buttons.png") 64px 0px;
}
.wiab_arrow.wiab_n.wiab_active {
  background: url("/static/images/buttons.png") 64px -64px;
}    
.wiab_arrow.wiab_ne.wiab_active {
  background: url("/static/images/buttons.png") 64px -128px;
}
.wiab_arrow.wiab_e.wiab_active {
  background: url("/static/images/buttons.png") 64px -192px;
}
.wiab_arrow.wiab_se.wiab_active {
  background: url("/static/images/buttons.png") 64px -256px;
}
.wiab_arrow.wiab_s.wiab_active {
  background: url("/static/images/buttons.png") 64px -320px;
}
.wiab_arrow.wiab_sw.wiab_active {
  background: url("/static/images/buttons.png") 64px -384px;
}
.wiab_arrow.wiab_w.wiab_active {
  background: url("/static/images/buttons.png") 64px -448px;
}
.wiab_arrow.wiab_nw.wiab_active {
  background: url("/static/images/buttons.png") 64px -512px;
}

    
        

    
