<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta name="verify-v1" content="tasE1XaBrCBulc5wEzuT4RocTBnZ0f18824WGAwujmE=" />
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />    
    <title>{% block title %}Contact{% endblock %}</title>
    
    <style type="text/css">
      @import "/media/style.css";
    </style>
{#
    <style type="text/css" media="screen">
      @import "/static/css/screen.css";
    </style>
    <style type="text/css" media="print">
      @import "/static/css/print.css";
    </style>
    <style type="text/css">
      @import "/static/css/wiab.css";
    </style>
#}
    <style type="text/css">
    </style>
    <script src="/media/jquery-latest.js"></script>
    <script src="/media/jquery.color.js"></script>
    <script src="/media/ui.core.js"></script>
    <script src="/media/wiab_tools.js"></script>
    <script src="/media/kiab.js"></script>            
</head>
<body>
  <div class="header">
    <form action="/contact/search/" method="POST">
      <input type="text" name="search" value="Search for another contact" />
    </form>
    <form action="/contact/create/" method="GET">
      <button type="submit">Make a new contact</button>
    </form>
  </div>

  <form id="details" class="details" action="/contact/" method="POST">
    <input type="text" class="name heading" name="name" value="{{ contact.name if contact.name else "[type a name here]" }}" />
    <input type="hidden" name="uuid" value="{{ uuid }}" />
    <table class="detailTable" style="height: 100px;">
    {% for row in contact.details |batch(2,) -%} 
      <tr>
      {%- for detail in row -%}
        <td>{{ render(detail) if detail }}</td><td class="action delete"><a href="#">[x]</a></td>
      {%- endfor -%}
      </tr>
    {%- endfor -%}
    </table>
  </form>
  <div class="palette">
    {%- for widget in available -%}    
      <div class="widget">
        <span>Add another detail</span>
        <div class="widgetPrototype">
          <table class="detailTable"><tr><td>{{ render('', widget.name()+'Widget') }}</td><td class="action delete"><a href="#">[x]</a></td><td></td></tr></table>
        </div>
      </div>
    {%- endfor -%}
  </div>
  
  <div id="comments">
    {% for comment in contact.comments %}
      {% include "contacts/comment.html" %}
    {% endfor %}
    <div class="header">
      <div>Add a comment:</div>
    </div>
    <div class="content">
      <form action="/comment/" method="POST">
        <textarea name="comment"></textarea>
      </form>
    </div>
  </div>
</body>
</html>
